# Ignore logs
logs/

# Ignore poetry.lock
poetry.lock

# Ignore config files
.ini
db.json

# Ignore images
img/

# Ignore cache
timeTableVk/__pycache__/
timeTableVk/handlers/__pycache__/
timeTableVk/keyboard/__pycache__/
timeTableVk/middlewares/__pycache__/
timeTableVk/utils/__pycache__/
timeTableVk/database/__pycache__/
timeTableVk/senderVk/__pycache__/

# Ignore IDEA
.idea